extends layout

block content

  .login-content
    h3.msg-title Login In
    .msg-box.top-50
      span.msg-tag 账号
      input(type='text' class="msg-content" maxlength='8' id="log-userId")
    .msg-box.top-10
      span.msg-tag 密码
      input(type='password' class="msg-content" maxlength='6' id="log-password")
    .msg-box.top-30
      input(type='button' class='msg-button' value="立刻登陆" id='login')
      input(type='button' class='msg-button' value="前往注册" id='reg')


  .register
    h3.msg-title Sign In
    .msg-box.top-30
      span.msg-tag 账号
      input(type='text' class="msg-content" maxlength='8' id="userId")
    .msg-box
      span.msg-tag 姓名
      input(type='text' class="msg-content" id="name")
    .msg-box
      span.msg-tag 密码
      input(type='password' class="msg-content" maxlength='6' id="password")
    .msg-box.top-30
      input(type='button' class='msg-button' value="注册" id='commit')



  script(type='text/javascript' src='/js/index_01.js')
